<ion-view view-title="Hanuman" id="tour-view">
  <ion-nav-buttons side="right">
    <a class="button button-clear" href="#/tabs/workout" nav-clear>Start</a>
  </ion-nav-buttons>
  <ion-slide-box show-pager="true">
    <ion-slide>
      <span class="icon icon-slide ion-ios-person assertive"></span>
      <h3>Track your profile</h3>
    </ion-slide>
    <ion-slide>
      <span class="icon icon-slide ion-ios-bolt assertive"></span>
      <h3>Record your workout</h3>
    </ion-slide>
    <ion-slide>
      <span class="icon icon-slide ion-clipboard assertive"></span>
      <h3>View your logs</h3>
    </ion-slide>
  </ion-slide-box>
</ion-view>
