<ion-view view-title="Exercise">
  <ion-content>
    <div class="card">
      <a href="#" class="item item-icon-right">
        Incline Dumbbell Press x 6
        <i class="icon ion-ios-bolt assertive"></i>
      </a>
    </div>

    <div class="card">
      <a href="#" class="item item-icon-right">
        Incline Bench Press x 6
        <i class="icon ion-ios-bolt assertive"></i>
      </a>
    </div>

    <div class="card">
      <a href="#" class="item item-icon-right">
        Flat Bench Press x 6
        <i class="icon ion-ios-bolt assertive"></i>
      </a>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-dark">
    <span class="title"><i class="icon ion-ios-star-half energized"></i>Add new exercise</span>
  </ion-footer-bar>
</ion-view>
