<ion-tabs class="tabs-icon-top tabs-energized">
  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>

  <!-- Workout Tab -->
  <ion-tab title="Workout" icon-on="ion-ios-bolt" icon-off="ion-ios-bolt-outline" ui-sref="tabs.workout">
    <ion-nav-view name="workout-tab"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" ui-sref="tabs.history">
    <ion-nav-view name="history-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
