<ion-view view-title="Workout">
  <ion-content>
    <ion-list>
      <ion-item>
        <h2>Day 1: Chest and Shoulder</h2>
        <span>Incline Dumbbell Press x 6</span><br/>
        <span>Incline Bench Press x 6
        </span><br/>
        <span>Flat Bench Press x 6
        </span>
      </ion-item>
      <ion-item>
        <h2>Day 3: Back and Arms</h2>
        <span>Deadlift x 6</span><br/>
        <span>Front Lateral Pull Down x 6</span><br/>
        <span>Dumbbell Curl x 6
        </span>
      </ion-item>
      <ion-item>
        <h2>Day 5: Legs and Abs</h2>
        <span>Squat x 6</span><br/>
        <span>Front Squat x 6</span><br/>
        <span>Romanian Deadlift x 6
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <span class="title ion-ios-star-half"> Add new workout</span>
  </ion-footer-bar>
</ion-view>
